@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Princess+Sofia&display=swap");

body {
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
	background-color: #fbfbfc;
	background-image: url(../images/LendyBackground.png);
	background-position: right;
	/* background-position:center;*/
	background-size: 150%;
}

.container {
	max-width: 1175px;
	padding: 0 40px;
	margin: 0 auto;
	height: auto;
	overflow: auto;
}

.flex {
	display: flex;
	width: 100%;
}

/* HEADER */

header {
	background: rgb(33, 175, 191);
	background: linear-gradient(
		90deg,
		rgba(44, 191, 164, 1) 0%,
		rgba(36, 191, 191, 1) 35%,
		rgba(33, 175, 191, 1) 100%
	);
	height: 100px;
	position: fixed;
	top: 0;
	width: 100%;
}

#user-name-display {
	color: #fbfbfc;
}

header .flex {
	justify-content: space-between;
	align-items: center;
	height: 6rem;
	padding: 20px;
}

.logo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.logo img {
	width: 40%;
}

.nav {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	color: #fbfbfc;
}

button {
	border-radius: 20px;
	height: 50px;
	width: 125px;
	border: none;
	transition: transform 0.2s;
	cursor: pointer;
}

button.ghost {
	width: 100px;
	height: 40px;
	padding: 4px;
	background: transparent;
	border: 1px solid #fbfbfc;
	border-radius: 20px;
	margin: 0 12px;
	color: #fbfbfc;
}

button.ghost:hover {
	background-color: #fbfbfc;
	color: #4a4a4a;
}

button:hover {
	transform: perspective(0.98);
}

button:focus {
	outline: none;
}

.modal-container {
	background-color: rgba(6, 7, 10, 0.3);
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s ease;
}

.modal-container.show {
	pointer-events: auto;
	opacity: 1;
}

.modal {
	background-color: #fbfbfc;
	width: 600px;
	max-width: 100%;
	border-radius: 20px;
	padding: 20px;
	color: #4a4a4a;
	box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 575px;
}

select {
	width: 70%;
	margin: 8px;
	padding: 8px;
	border: none;
	border-bottom: 1px solid rgba(36, 191, 191, 1);
	background-color: #fbfbfc;
}

select:focus {
	outline: none;
}

option {
}

input {
	width: 70%;
	margin: 8px;
	padding: 8px;
	border: none;
	border-bottom: 1px solid rgba(36, 191, 191, 1);
	background-color: #fbfbfc;
}

input:focus {
	outline: none;
}

.form-button {
	margin-top: 24px;
	background: linear-gradient(
		90deg,
		rgba(33, 175, 191, 1) 0%,
		rgba(36, 191, 191, 1) 35%,
		rgba(44, 191, 164, 1) 100%
	);
	color: #fbfbfc;
}
.modal-container.show {
	pointer-events: auto;
	opacity: 1;
}

a {
	padding: 0 12px;
	font-size: 20px;
	text-decoration: none;
	color: #fbfbfc;
}
/* Recent Lends */

#recent-lends {
	padding-top: 170px;
	padding-bottom: 70px;
}

#recent-lends .container {
	width: 100%;
	margin: 0 auto;
}
.section-text {
	display: flex;
	justify-content: center;
	margin-right: 70px;
	margin-bottom: 20px;
}
#cards-container {
	margin: 0 auto;
	height: 300px;
	padding-right: 60px;
	display: flex;
	overflow-x: auto;
	white-space: nowrap;
}

#cards-container::-webkit-scrollbar {
	display: none;
}

.card {
	min-width: 400px;
	max-width: 400px;
	height: 230px;
	padding: 16px;
	background: #fbfbfc;
	margin: 0 40px;
	border: 0.5px solid #f4f4f4;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	border-radius: 10px;
}

.card-button-div {
	height: 100px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
}

.title-row {
	display: flex;
	justify-content: space-between;
	margin-bottom: -20px;
}

.remove-btn {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

h5 {
	margin: 0;
}

.extend-btn {
	height: 50px;
	background: linear-gradient(
		90deg,
		rgba(33, 175, 191, 1) 0%,
		rgba(36, 191, 191, 1) 35%,
		rgba(44, 191, 164, 1) 100%
	);
	color: #fbfbfc;
	box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
		rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
		rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.toggle-button {
	width: 60px;
	height: 20px;
	background: #b8b5b5;
	border-radius: 30px;
	padding: 5px;
	transition: all 0.4s ease-in;
}

.toggle-button > .inner-circle {
	width: 20px;
	height: 20px;
	background-color: #fbfbfc;
	border-radius: 50%;
	transition: all 0.4s ease-in;
}

.toggle-button.active {
	background: linear-gradient(
		90deg,
		rgba(33, 175, 191, 1) 0%,
		rgba(36, 191, 191, 1) 35%,
		rgba(44, 191, 164, 1) 100%
	);
}

.toggle-button.active > .inner-circle {
	margin-left: 40px;
}

/* ITEMs */

#your-items {
	padding-bottom: 10px;
}

#items-container {
	margin: 0 auto;
	width: 100%;
	height: auto;
	display: flex;
	overflow-x: auto;
	white-space: nowrap;
}

.item-card {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-width: 250px;
	max-width: 250px;
	height: 100px;
	margin: 0 24px;
	padding: 16px;
	background: #fbfbfc;
	border: 0.5px solid #f4f4f4;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	border-radius: 10px;
}

#items-container::-webkit-scrollbar {
	display: none;
}
